<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ml4d.ohow"
      android:versionCode="1"
      android:versionName="1.0.0.[DEVELOPER BUILD - DO NOT USE]">
    <uses-sdk android:minSdkVersion="7" />

	<!-- The 'android:debuggable' attribute no longer needs to be set, 
		 debug builds are debuggable, and release builds are not. -->
    <application
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name">

		<!-- We set 'noHistory' true to ensure the splash screen is shown only once. -->
        <activity android:name=".Splash"
                  android:label="@string/splash_activity_label"
                  android:noHistory="TRUE">
            <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<!-- We set 'noHistory' true to ensure the splash screen is shown only once,
			 this ensures it is not shown if the user has already logged in. -->
        <activity android:name=".SignIn"
                  android:label="@string/sign_in_activity_label"
                  android:noHistory="TRUE">
        </activity>

        <activity android:name=".Register"
                  android:label="@string/register_activity_label"
                  android:noHistory="TRUE">
        </activity>
        
        <activity android:name=".Home"
                  android:label="@string/home_activity_label">
        </activity>
        
        <activity android:name=".Capture"
                  android:label="@string/capture_activity_label">
        </activity>
        
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
 
</manifest>
